* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background: #EAEAEA ; 
  font-family: 'Roboto', sans-serif;
 }

 .container {
  background-color: #FFFFFF;
 }
 
 h1 {
  font-size: 28px;
 }

  h3 {
  font-size: 20px;
  }

 h1 h3 {
 color: #1B1B1B;
 font-weight: 700;
 }

 ul li  {
  font-size: 16px;
 }

 ol li  {
  font-size: 16px;
 }

 p {
  font-size: 16px;
 }

 footer {
 color: #8F8F8F; 
 font-weight: 400;
 }

 footer figcaption {
  font-size: 12px;
 }