* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
  background: #EAEAEA ; 
 }

 .container {
  background-color: #FFFFFF;
 }
 

h1 strong{
color: #1B1B1B;
}

footer {
 color: #8F8F8F; 
}